/* imageGridPage.css */

.image-grid-page {
    margin: 20px;
    padding: 0;
  }
  .grid-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 

  .image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    grid-template-rows: auto;
    grid-gap: 10px;
    position: relative;
  }
  
  .grid-item:first-child {
    grid-column: 1 / span 2; /* The first image will span two columns */
    grid-row: 1 / span 2; /* The first image will span two rows */
    position: relative;
  }

  .grid-item:nth-child(n+2) {
    grid-column: auto;
  }
  
  .grid-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }


  #show-more{
    width: 250px;
    height:50px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 20px;
   
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    bottom: 4%;
    right: 2%;
  }

  .property-info{
    display: grid;
    margin-top: 100px;
    padding-bottom: 30px;
    line-height: 15px;
    border-bottom: 1px solid #ccc;
  }

  .property-info h2{
    font-size: 35px;
    font-weight: 600;
  }

  .property-info span{
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 5px;
  }

 .ratings{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
  font-size: 30px;
  font-weight: 900;
 }

 .ratings span{
  font-size: 30px;
  font-weight: 800;

 }

 .ratings :last-child{
  text-decoration: underline;
 }
  
 .host-details{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
 }

 .photo-id img{
  height: 60px;
  width: 60px;
  border-radius: 50%;
 } 
 .host-addons{
  line-height: 4px;
 }

  .lower-section{
    width: 70%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .availability{
    border: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 6px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    border-radius: 20px;
    padding: 70px 120px;
  }

  .availability h3{
    color:black;
    text-align: center;
    
  }

  .availability button {
    background-color:#B0B0B0;
    width: 250px;
    height: 50px;
    border: 1px solid #B0B0B0;
    border-radius: 10px;
    color: white;
    
    font-size: 20px;
    text-align: center;

  }

  .knowYourHost{
    display: grid;

  }

  .host-card{
    display: flex;
    width: 600px;
    align-items: center;
    justify-content: space-between;
    border: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 6px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    padding: 30px;
    margin-left: 40px;
    margin-bottom: 30px;

  }
  .host-left{
    justify-content: center;
    align-items: center;
    line-height: 5px;
    font-size: 25px;
    font-weight: 800;
    
  }

  .img-container{
    position: relative;
    height: 150px;
    width: 150px;
  }

  #idphoto{
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }

  .img-container span{
    position: absolute;
    left: 120px;
    bottom: 20px;
    height: 30px;
    width:30px;
  }

  #iconphoto{
    position: absolute;
    height: 30px;
    width:30px;
    /* top:105px; 
    right: 90px; */
  }


  .host-right{
    display: grid;
    justify-content: center;
    align-items: center;
    line-height: 1px;
  }
  .host-right h3{
    font-size: 25px;
    font-weight: 800;
  }

  .hr-sections{
    border-bottom: 1px solid #ccc;
    padding: 0 4px;
  }

 .property-details{
  margin-top: 50px;
  align-items: center;
 } 

 .u-sections{
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 35px;
  

 }
 .shortinfo-right{
  line-height: 8px;
  margin-top: 10px 0px;
 }
 .shortinfo-host p {
  line-height: 5px;
  margin-top: 10px 0px;
 font-size: 40px;
 }