.all-header{
    margin: 0 200px;
    border-bottom: 1px solid #ccc;
    
}


.main-header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* z-index: 100; */
   width: 100%; 

}


.logo img{
    height: 80px;
    width: 80px;

}

.header-centre{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 400px;
    gap: 80px;
    margin-left: 300px;
}

.tablinks{
    font-size:300;
    font-size: 15px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.header-centre input{
    border: none;
    font-size: larger;  
}
.header-centre h3{
    font-weight: 200;
}

#hfade{
    color:#AEAEAE;
}

.header-right{
    display: flex;
    width:350px;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    padding: 0 4px;

}

.profile{
    display: flex;
    border: 1px solid gray;
    border-radius: 80px;
    padding: 5px;
    gap: 10px;
}

.sub-header{
    display: flex;
    flex-direction: row;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    border: 0.5px solid #ccc;
    box-shadow: 2px 2px 2px 2px whitesmoke;
    border-radius: 50px;
    max-width: 70%;
    margin: 5px 200px 20px 300px;
    padding: 20px;
    font-size: 15px;
}
.h-sections{
 padding:0;
 position: relative;
 display: grid;

} 

.h-sections input{
    border: none;
    outline:none;
    background: transparent;
    width: 100%;
}

.h-sections:first-child {
    flex: 2; /* "Where" section gets more space */
  }
  
  .h-sections:not(:first-child) {
    flex: 1; /* Other sections share equal space */
  }

.h-sections:not(:last-child) {
    border-right: 1px solid #ddd; /* Adds a vertical line */
    padding-right: 20px;
    margin-right: 20px;
  }
.h-sections:hover{
    border: 1px solid #AEAEAE;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #AEAEAE;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


.search{
    padding-top: 8px;
    width:35px;
    height:25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #FF385C;
    background-color: #FF385C;
}